.register-page{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    align-items:center;

    background:linear-gradient(
    180deg,
    #FFFFFF,
    #D8D8FF);

}

.register-header{

    margin-top:60px;

    text-align:center;

}

.register-header h1{

    color:#4B338D;

    font-size:56px;

}

.register-header p{

    color:#666;

    margin-top:10px;

}

.register-form{

    width:340px;

    margin-top:40px;

}