.button{

    width:100%;
    height:55px;

    border-radius:6px;

    font-size:24px;

    font-weight:bold;

    cursor:pointer;

}

.outline{

    background:white;

    border:3px solid #2C9E90;

}

.green{

    background:linear-gradient(
        90deg,
        #95D48A,
        #C7EF8B
    );

    border:none;

}