.login-page{

    width:100%;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    align-items:center;

    background:linear-gradient(
        180deg,
        #ffffff 0%,
#F5F4FF 15%,
#D6D7FF 100%
    );

}

.login-header{

    margin-top:70px;
    text-align:center;

}

.login-header h2{

    color:#49308E;
    font-size:34px;
    margin:0;

}

.login-header h1{

    color:#49308E;
    font-size:64px;
    margin-top:8px;
    font-weight:bold;

}

.login-form{

    margin-top:120px;

    width:340px;

}

.divider{

    text-align:center;
    margin:30px 0;
    color:#555;
    font-weight:600;

}

.register-text{

    text-align:center;
    margin-top:25px;
    margin-bottom:15px;

    color:#555;
    font-weight:600;

}
.login-header{

    animation:fadeDown 1s ease;

}

.login-form{

    animation:fadeUp 1.2s ease;

}

@keyframes fadeDown{

    from{

        opacity:0;
        transform:translateY(-40px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

@keyframes fadeUp{

    from{

        opacity:0;
        transform:translateY(40px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}
@media(max-width:480px){

.login-form{

    width:85%;

}

.login-header h1{

    font-size:50px;

}

.login-header h2{

    font-size:28px;

}

}