NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://ai_user:ai_password@localhost:5432/ai_interview?schema=public"
JWT_SECRET="1ed26d04ed356261652ffce786598f0701a92e6d44ceb32079e1affe050fe8b3"
GEMINI_API_KEY=""